.selectedPage {
  font-size: 120%;
  font-weight: bold;
}

.userList {
  list-style: none;
  padding: 0;
}

.userList li {
  display: inline;
  padding: 4px;
}

.userList li a {
  text-decoration: none;
}

img {
  width: 128px;
}